 /* 去除表格底部的白线 */
 .el-table::before {
  z-index: inherit;
}
.el-table__body-wrapper::-webkit-scrollbar {
  width: 14px;
  
}
.el-table__body-wrapper::-webkit-scrollbar-thumb  {
  background-color: #0099FF !important;
  /* border-radius: 8px; */
}
::-webkit-scrollbar-corner{
  background: transparent !important;
}
.el-table::before {
  height: 0px;
}
.el-table__body {
 width: 100% !important;
}

body .el-table th.gutter{
  display: table-cell !important;
}

body .el-table colgroup.gutter{
   display: table-cell !important;
}