/* .el-table tbody tr:hover > td {
    background-color: #414964 !important;
}
.el-table__body-wrapper {
    background-color: #1C202E;
}
.el-checkbox .is-checked .el-checkbox__inner {
    background-color: #409eff !important;
    border: 1px solid #409eff !important;
  }
 .el-checkbox .is-checked .el-checkbox__inner::after {
    border-color: #ffffff !important;
  }
 .el-checkbox .is-checked .el-checkbox__inner span {
    color: #40adfb !important;
  }
  .el-checkbox .is-checked .is_disabled .el-checkbox__label {
    color: #40adfb !important;
  }
  .el-input__inner {
    background: #33394E !important;
    border: 0px !important;
  } */
  
